@tailwind base;
@tailwind components;
@tailwind utilities;
/* Inter Font Family 400, 700, 900
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap");

* {
  font-family: "Inter", "sans-serif";
} */

/* Variables */

:root {
  --black: #000000;
  --white: #ffffff;

  --pageBG: #ffffff;
  --pageText: #000000;
  --scope: #0066ff;
}

[data-theme='dark'] {
  --pageBG: #000000;
  --pageText: #f4f4f0;
  --scope: #0066ff;
}

[data-theme='candy'] {
  --pageBG: #a5b4fc;
  --pageText: #4338ca;
  --scope: #ff1717;
}

/* Layout */
.layout {
  @apply flex flex-col min-h-screen relative;
}

/* Header with black  */
.header {
  @apply flex flex-row py-5 text-pageText  p-4 md:p-4 xl:p-6 sticky top-0 z-10 bg-pageBG bg-opacity-30 dark:bg-opacity-30 backdrop-filter backdrop-saturate-150 backdrop-blur-lg;
}

/* Have each div in header take up 1/3 space with flex items center */
.header > div {
  @apply basis-1/4 lg:basis-1/3 flex items-center;
}

/* Header Menu Button */
.btn-menu {
  @apply justify-center font-extrabold md:text-xl hover:underline;
}

/* Header Centered Logo */
.header > .logo {
  @apply basis-2/4 lg:basis-1/3  justify-center font-extrabold text-lg sm:text-3xl leading-5 text-center hover:underline;
}

/* Header Wallet Connect Button */
.header > .wallet {
  @apply justify-end;
}

.btn-wallet {
  @apply bg-transparent flex flex-col font-sans text-pageText rounded-none font-normal text-2xs p-0 !important;
}

.btn-wallet-icon {
  @apply bg-transparent font-sans text-pageText rounded-none font-extrabold text-lg sm:text-xl  p-0 !important;
}

/* Main Body Section (Footer is inside here) */
.body {
  @apply bg-pageBG relative flex-grow flex flex-col  h-full;
}

.main {
  @apply bg-pageBG text-pageText flex-grow h-full px-2 py-2 sm:px-4 md:px-6 sm:py-4 md:py-6;
}

.footer {
  @apply bg-pageBG text-pageText p-4;
}

.footer-copy {
  @apply text-sm font-semibold;
}

/*  */

/* div > .candy-container {
  @apply text-black
} */

/* Wallet Overrides */
.footer-button {
  @apply flex flex-col justify-end;
}
.footer-button > .wallet-adapter-dropdown > .wallet-adapter-dropdown-list {
  top: -600% !important;
  right: 0% !important;
  display: inline-block;
}

.btn-wallet--footer {
  @apply inline-block font-sans text-pageText hover:bg-pageText hover:text-pageBG rounded-none  items-end h-fit font-normal text-2xs leading-3 p-0 !important;
}

/* Menu positioned absolute to take up whole page */
.menu-wrapper {
  @apply fixed top-0 bg-gray-900/50 w-screen h-screen z-10;
}

.menu-wrapper--hidden {
  @apply hidden;
}

.menu-bar {
  @apply text-pageBG bg-pageText max-w-screen-md w-full h-full;
}

.menu-bar-content {
  @apply sticky top-0;
}

.menu-bar-close {
  @apply font-normal leading-none hover:border-4 text-4xl p-2 rounded-full h-16 w-16 flex items-center justify-center m-4;
}

.menu-bar-links {
  @apply p-8;
}

.menu-bar-link {
  @apply inline-block font-semibold text-4xl leading-7 mb-8;
}

/* Button - Black */
/* Button - Black Reverse */
/* Button - Primary Color*/
/* Button - Secondary Color */
.btn {
  @apply text-sm sm:text-lg bg-pageText border-pageText text-pageBG border-4 font-semibold text-center py-1 px-3 sm:py-2 sm:px-4 whitespace-nowrap;
}
.btn-outline {
  @apply text-sm sm:text-lg bg-transparent hover:bg-pageText text-pageText font-semibold text-center hover:text-pageBG py-1 px-3 sm:py-2 sm:px-4 border-4 border-pageText hover:border-transparent whitespace-nowrap;
}

.btn--sm {
  @apply text-2xs sm:text-sm border-4 font-bold py-1 px-3;
}

/* Important tag added to override the react wallet button */
.btn-connect {
  @apply text-sm sm:text-lg rounded-none h-full bg-pageText border-pageText border-4 text-pageBG font-bold py-1 px-3 sm:py-2 sm:px-4 !important;
}

.btn-reverse {
  @apply bg-pageBG border-pageBG text-pageText !important;
}

.btn:disabled {
  @apply opacity-30 cursor-not-allowed !important;
}

/* Outline Button - Black */
/* Outline Button - Primary Color*/
/* Outline Button - Secondary Color */

/* Mint Component */

.mint-wrapper {
  @apply max-w-lg m-auto;
}
.mint-wrapper--loading {
  @apply max-w-lg m-auto bg-transparent flex justify-center items-center;
}

.mint-card {
  @apply bg-pageText text-pageBG p-3 sm:p-5;
}

.countdown {
  @apply flex   bg-yellow-200 justify-center;
}
.countdown-item {
  @apply flex flex-col text-yellow-700 h-14 items-center justify-center;
}

.countdown-num {
  @apply text-2xl font-semibold w-12 lg:w-14 text-center leading-7;
}

.countdown-txt {
  @apply text-2xs font-normal leading-4;
}

.countdown-status {
  @apply h-14 bg-green-200 flex items-center justify-center font-semibold text-green-800 text-xl;
}

.mint-count {
  @apply bg-pageBG text-pageText py-2 text-xs opacity-40;
}

/* price section on mint */
.price {
  @apply text-lg font-semibold;
}
.price-regular {
  /* @apply text-lg; */
}
.price-regular--has-discount {
  @apply line-through mr-2;
}

.price-discount {
  @apply text-red-500;
}

.price-whitelist-notification {
  @apply block w-fit font-normal px-2 text-2xs bg-green-100 text-green-900 text-center;
}

/* Collection */
.collection {
  @apply grid  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-5 lg:gap-8;
}

.collection-item {
  /* @apply ; */
}

.collection-item--img {
  @apply text-green-900;
}

.collection-item--title {
  @apply font-semibold text-base whitespace-nowrap text-ellipsis overflow-hidden;
}

.collection-item--links {
  @apply flex;
}

.collection-item--links > a {
  @apply block basis-1/2 px-1;
}
